<div class="container">
    <div class="w-100 d-none d-sm-block mt-2">
      <div class="row">
        <div class="col">
          <h2 class="text-danger font-weight-normal">{{'manageContacts' | translate}}</h2>
        </div>
        <div class="col-5">
          <p>Lorem ipsum dolor sit amet, no mundi rationibus pri, ne elit graeci iuvaret his,
            vim partem labore inimicus et. In sit primis dolorum fuisset.
          </p>
        </div>
        <div class="col text-right pr-0 pr-4 pl-4">
          <div class="d-flex flex-column">
            <button routerLink="/reservationList" class="btn btn-secondary text-uppercase">
              {{'reservationList' | translate}}
            </button>
  
            <button routerLink="/reservation" class="btn btn-secondary text-uppercase mt-sm-1">
              {{'createReservation' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-danger d-sm-none mt-3 font-weight-normal mb-0"> {{'createReservation' | translate}}</h4>
    <p class="d-sm-none">Lorem ipsum dolor sit amet, no mundi rationibus pri, ne elit graeci iuvaret his,
      vim partem labore inimicus et.
    </p>
    <div class="d-flex d-sm-none">
      <button routerLink="/reservationList" class="btn btn-secondary text-uppercase">
        {{'reservationList' | translate}}
      </button>
      <button class="btn btn-secondary text-uppercase ml-1">
        {{'createReservation' | translate}}
      </button>
    </div>
  </div>
  <div id="content" class="pb-3 pt-3">
    <form role="form" #contactForm="ngForm" (ngSubmit)="SubmitContactForm()">
      <div class="container pb-3 pt-3">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-2">
          <h4 class="text-danger font-weight-normal">{{'contacts' | translate}}</h4>
          <i [class.invisible]="!callingService"
             class="center-fix main-spinner fa fa-spin fa-spinner fa-2x mt-2 mt-sm-0"></i>
          <div class="d-flex justify-content-around">
            <button class="btn btn-danger text-uppercase pl-3 pr-3 mr-3" type="button"
                    (click)="ResetSelectedContact()">{{'new' | translate}}
            </button>
            <button class="btn btn-danger text-uppercase pl-3 pr-3" type="submit"
                    [disabled]="!contactForm.valid">{{'save' | translate}}
            </button>
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-user-circle-o fa-2x"></i>
            <input type="text" class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'contactName' | translate}}"
                 name="contactName" required
                 [(ngModel)]="selectedContact.name">
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-universal-access fa-2x" style="z-index: 9999"></i>
            <ng-select [items]="contactTypesList" name="contactType" [ngModel]="selectedContact.contactType.contactTypeId"
                       class="custom mb-2 mr-sm-2 mb-sm-0" placeholder="{{'contactType' | translate}}"
                       bindLabel="description" bindValue="contactTypeId" required (change)="ChangeContactType($event)">
              <ng-template ng-label-tmp let-item="item">
                {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-phone fa-2x" style="z-index: 9999"></i>
            <input type="text" class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'contactPhone' | translate}}"
                 name="contactPhone"
                 [(ngModel)]="selectedContact.phone">
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-calendar fa-2x" (click)="d.toggle()"></i>
            <input class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" input-has-icon-start placeholder="{{'contactBirthDate' | translate}}"
                 name="contactBirthDate" [(ngModel)]="selectedContact.birthdayPickerValue" ngbDatepicker
                 #d="ngbDatepicker"
                 (click)="d.toggle()" required>
          </div>
          <div class="w-100 mb-3"></div>
          <div class="col">
              <table class="table table-secondary table-hover contact-table">
                <thead>
                <tr class="bg-secondary" style="color: white;">
                  <th scope="col" *ngIf="{ asc: true } as nameF" (click)="nameF.asc = !nameF.asc; ExcuteFilter('name', nameF.asc)">
                    <i class="fa"
                       [ngClass]="{'fa-sort-amount-asc': nameF.asc === true, 'fa-sort-amount-desc': nameF.asc === false}"></i>
                    &nbsp;{{'contactName' | translate}}
                  </th>
                  <th scope="col" *ngIf="{ asc: true } as typeF" (click)="typeF.asc = !typeF.asc; ExcuteFilter('type', typeF.asc)"><i class="fa"
                       [ngClass]="{'fa-sort-amount-asc': typeF.asc === true, 'fa-sort-amount-desc': typeF.asc === false}"></i>
                       &nbsp;{{'contactType' | translate}}
                  </th>
                  <th scope="col" *ngIf="{ asc: true } as phoneF" (click)="phoneF.asc = !phoneF.asc; ExcuteFilter('phone', phoneF.asc)"><i class="fa"
                       [ngClass]="{'fa-sort-amount-asc': phoneF.asc === true, 'fa-sort-amount-desc': phoneF.asc === false}"></i>
                       &nbsp;{{'contactPhone' | translate}}
                  </th>
                  <th scope="col" *ngIf="{ asc: true } as birthdF" (click)="birthdF.asc = !birthdF.asc; ExcuteFilter('date', birthdF.asc)"><i class="fa"
                       [ngClass]="{'fa-sort-amount-asc': birthdF.asc === true, 'fa-sort-amount-desc': birthdF.asc === false}"></i>
                       &nbsp;{{'contactBirthDate' | translate}}
                  </th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contact of contactsList"
                    (click)="SelectContact(contact)" [class.active]="isSelect(contact)">
                  <th scope="row">{{contact.name}}</th>
                  <td>{{contact.contactType.description}}</td>
                  <td>{{contact.phone}}</td>
                  <td>{{contact.birthDate | date}}</td>
                  <td><i class="fa fa-remove fa-2x text-danger" (click)="RemoveContact(contact.contactId)"></i></td>
                </tr>
                </tbody>
              </table>
          </div>
          <div class="w-100 mb-1"></div>
          <div class="col text-center">
            <ngb-pagination [collectionSize]="serviceParams.total" [(page)]="serviceParams.page"
                            [maxSize]="10" [boundaryLinks]="true"
                            (pageChange)="PageChage($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </form>
</div>
  
  
  