i.fa-remove:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .contact-table {
    th:hover {
      cursor: pointer;
    }
  }

  .input-border {
    border: 1px solid lightgray;
  }

  .form-control{
    height: auto !important;
  }