<div class="container">
    <div class="w-100 d-none d-sm-block">
      <div class="row pt-3">
        <div class="col">
          <h2 class="text-danger font-weight-normal">{{'createReservation' | translate}}</h2>
        </div>
        <div class="col-5">
          <p>Lorem ipsum dolor sit amet, no mundi rationibus pri, ne elit graeci iuvaret his,
            vim partem labore inimicus et. In sit primis dolorum fuisset.
          </p>
        </div>
        <div class="col text-right pr-0">
          <button routerLink="/reservationList" class="btn btn-secondary text-uppercase">
            {{'reservationList' | translate}}
          </button>
        </div>
      </div>
    </div>
    <h4 class="text-danger d-sm-none mt-3 font-weight-normal mb-0">{{'createReservation' | translate}}</h4>
    <p class="d-sm-none">Lorem ipsum dolor sit amet, no mundi rationibus pri, ne elit graeci iuvaret his,
      vim partem labore inimicus et.
    </p>
  </div>
  <div id="content" class="pb-3 pt-3">
    <form role="form" #contactReservationForm="ngForm" (ngSubmit)="SubmitContactReservationForm()">
      <div class="container pb-3 pt-3">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-2">
          <h4 class="text-danger font-weight-normal">{{'contacts' | translate}}</h4>
          <i [class.invisible]="!callingService"
             class="center-fix main-spinner fa fa-spin fa-spinner fa-2x mt-2 mt-sm-0"></i>
          <div class="d-flex justify-content-around">
            <button class="btn btn-secondary text-uppercase pl-3 pr-3" type="button"
                    (click)="contactListisCollapsed = !contactListisCollapsed">{{'listContacts' | translate}}</button>
            <button class="btn btn-secondary text-uppercase pl-3 pr-3 ml-sm-3"
            routerLink="/contactForm">{{'manageContacts' | translate}}</button>
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-user-circle-o fa-2x"></i>
            <input type="text" class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'contactName' | translate}}"
                   name="contactName" required #term (keyup)="search(term.value)"
                   [(ngModel)]="selectedContact.name">
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-universal-access fa-2x" style="z-index: 9999"></i>
            <ng-select [items]="contactTypesList" name="contactType" [ngModel]="selectedContact.contactType.contactTypeId"
                       class="custom mb-2 mr-sm-2 mb-sm-0" placeholder="{{'contactType' | translate}}"
                       bindLabel="description" bindValue="contactTypeId" (change)="ChangeContactType($event)">
              <ng-template ng-label-tmp let-item="item">
                {{item.description}}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-phone fa-2x"></i>
            <input type="text" class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'contactPhone' | translate}}"
                   name="contactPhone"
                   [(ngModel)]="selectedContact.phone">
          </div>
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-calendar fa-2x" (click)="d.toggle()"></i>
            <input class="custom form-control mb-2 mr-sm-2 mb-sm-0 input-border" input-has-icon-start placeholder="{{'contactBirthDate' | translate}}"
                   name="contactBirthDate" [(ngModel)]="selectedContact.birthdayPickerValue" ngbDatepicker #d="ngbDatepicker"
                   (click)="d.toggle()">
          </div>
          <div class="w-100 mb-3"></div>
          <div class="col">
            <div [ngbCollapse]="contactListisCollapsed">
                <div class="table-container">
                  <table class="table table-light table-striped table-hover">
                    <thead>
                    <tr>
                      <th scope="col">{{'contactName' | translate}}</th>
                      <th scope="col">{{'contactType' | translate}}</th>
                      <th scope="col">{{'contactPhone' | translate}}</th>
                      <th scope="col">{{'contactBirthDate' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let contact of contactsList" (click)="SelectContact(contact)">
                      <th scope="row">{{contact.name}}</th>
                      <td>{{contact.contactType.description}}</td>
                      <td>{{contact.phone}}</td>
                      <td>{{contact.birthDate | date}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              <div class="w-100 mb-1"></div>
              <div class="col text-center">
                <ngb-pagination [collectionSize]="serviceParams.total" [(page)]="serviceParams.page"
                                [maxSize]="10" [boundaryLinks]="true"
                                (pageChange)="PageChage($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2 mt-2">
          <div class="col-xs-12 col-sm-4">
            <h4 class="text-danger font-weight-normal">{{'reservations' | translate}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 input-has-icon-start">
            <i class="fa fa-globe fa-2x"></i>
            <input type="text" class="custom  form-control mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'reservationName' | translate}}"
                   name="reservationName" required
                   [(ngModel)]="selectedReservation.destination">
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="d-flex align-items-center mt-2 justify-content-center">
                <span class="add-favorite mr-2" [class.text-muted]="selectedReservation.isFavorite"
                      (click)="selectedReservation.isFavorite = !selectedReservation.isFavorite">{{'addFavorites' | translate}}</span>
              <i class="fa fa-heart fa-2x" [class.text-danger]="selectedReservation.isFavorite"></i>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 text-center">
            <bar-rating [(rate)]="selectedReservation.ranking" [max]="5"></bar-rating>
          </div>
          <div class="w-100 mb-3"></div>
          <div class="col">
            <div [froalaEditor] [(froalaModel)]="selectedReservation.description">{{selectedReservation.description}}</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-danger">
            <button type="submit" class="btn d-none d-sm-block btn-danger pull-right pl-4 pr-4 text-uppercase"
                    [disabled]="!contactReservationForm.valid">{{'send' | translate}}
            </button>
            <button type="submit" class="btn d-sm-none btn-block btn-danger text-uppercase"
                    [disabled]="!contactReservationForm.valid">{{'send' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  
  