@import "../../node_modules/bootstrap/scss/bootstrap";

#header {
  .bd-pageheader {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    background: transparent url('../assets/img/banner.png') no-repeat;
    background-size: cover;
    color: white;

    .company-logo-name {
      font-size: 3rem;
      margin-right: 2rem;
      margin-left: 7rem;
      b {
        text-transform: uppercase;
      }
      i {
        font-weight: 300;
      }
    }
    .company-logo-description {
      font-size: 1.5rem;
      color: #dcdcdc;
      line-height: 1;
      margin-top: 15px;
      font-weight: 200;
    }

  }
  .lang-options {
    position: absolute;
    right: 4rem;
    top: 2rem;
    span {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      &.active {
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  #header {
    a {
      text-decoration: none;
    }
    .bd-pageheader {
      margin-bottom: 0px;
      .company-logo-description {
        display: none;
      }
      .company-logo-name {
        font-size: 2.5rem;
      }
      .mobile-header-link a {
        color: white;
      }
    }
    .lang-options {
      right: 0.8rem;
      top: 0.6rem;
    }
  }
}