<div id="header">
  <div class="bd-pageheader text-center text-sm-left">
    <div class="lang-options">
      <span [class.active]="translate.currentLang === 'es'" (click)="setLang('es')">Es</span>
      &nbsp;|&nbsp;
      <span [class.active]="translate.currentLang === 'en'" (click)="setLang('en')">En</span>
    </div>
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="company-logo-name">
          <b>Isu</b><i>Corp</i>
        </div>
        <div class="company-logo-description">
          <span>{{'logo-description1' | translate}}</span><br>
          <span>{{'logo-description2' | translate}}</span>
        </div>
       
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>