/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-bar-rating/themes/br-default-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

// $enable-rounded: false;
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  
  body {
    color: #545b62;
  }
  
  #content {
    background-color: #efefef;
  
    .container {
      background-color: white;
    }
  
  }
  
  .text-muted {
    color: rgba(108, 117, 125, 0.8) !important;
  }
  
  @include media-breakpoint-down(xs) {
    #content {
      padding-top: 0px !important;
    }
    .reservation-list {
      span.reservation-name {font-size: 16px !important;font-weight: 100;}
      span.reservation-date {font-size: 13px !important;}
      span.add-favorite {font-size: 16px !important;font-weight: 100;}
    }
  }
  
  input.ng-valid[required], select.ng-valid[required], ng-select.ng-valid[required] > .ng-select-container {
    box-shadow: inset 3px 0px 0px #4dbd74;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.35s;
  }
  
  input.ng-invalid, select.ng-invalid, ng-select.ng-invalid[required] > .ng-select-container {
    box-shadow: inset 3px 0px 0px #f86c6b;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.35s;
  }
  
  div.input-has-icon-start {
    i {
      position: absolute;
      left: 27px;
      top: 12px;
    }
    input, .ng-select.custom > .ng-select-container {
      padding: 0.8rem 0.5rem 0.8rem 4rem !important;
    }
  }
  
  .ng-select.custom > .ng-select-container {
    min-height: 51.9px;
  }
  
  .table tr.active {
    background-color: gray('500');
  }
  
  .add-favorite {
    &:hover {
      cursor: pointer;
    }
  }
  
  /** Paginado **/
  .pagination {
    margin-bottom: 0px;
    .page-item.active a {
      background-color: #6c757d !important;
      border-color: #525c64;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
  }
  
  ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
  ::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
  :-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
  input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }

  .ng-value-container {
    line-height: 1.15;
  }
  