<div class="container">
  <div class="w-100 d-none d-sm-block">
    <div class="row pt-3">
      <div class="col">
        <h2 class="text-danger font-weight-normal">{{'reservationList' | translate}}</h2>
      </div>
      <div class="col-5">
        <p>Lorem ipsum dolor sit amet, no mundi rationibus pri, ne elit graeci iuvaret his,
          vim partem labore inimicus et. In sit primis dolorum fuisset.
        </p>
      </div>
      <div class="col text-right pr-0">
        <button routerLink="/reservation" class="btn btn-secondary text-uppercase">
          {{'createReservation' | translate}}
        </button>
      </div>
    </div>
  </div>
  <h2 class="text-danger d-sm-none mt-3 font-weight-normal mb-0">{{'createReservation' | translate}}</h2>
</div>
<div id="content" class="pb-3 pt-3">
  <div class="container pb-3 pt-3">
    <div class="row">
      <div class="col-xs-12 col-sm-4" *ngIf="sortFilters.length > 0">
        <ng-select [items]="sortFilters" [ngModel]="'creationDate'" (change)="FilterChange($event)"
                   bindLabel="name" bindValue="property">
          <ng-template ng-label-tmp let-item="item">
            <i class="fa"
               [ngClass]="{'fa-sort-amount-asc': item.direction === 'asc', 'fa-sort-amount-desc': item.direction === 'desc'}"></i>
            {{item.name}}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <i [class.invisible]="!callingService"
           class="center-fix main-spinner fa fa-spin fa-spinner fa-2x mt-2 mt-sm-0"></i>
      </div>
      <div class="w-100 mt-1 mb-1"></div>
      <div class="col p-sm-3">
        <ul class="list-group reservation-list">
          <li *ngIf="reservations.length === 0" class="list-group-item border-0 mb-2 bg-light d-flex align-items-center">
            <h4>{{'noReservationsFound' | translate}}</h4>
          </li>
          <div *ngIf="reservations.length > 0">
            <li class="row list-group-item border-0 mb-2 bg-light d-flex justify-content-between align-items-center"
                *ngFor="let reservation of reservations">
              <div class="col-6 col-md-5 d-flex align-items-center">
                <img class="d-none d-sm-block mr-4" src="../../assets/img/image1.png" alt=""
                     style="height: 60px;width: 60px">
                <div class="">
                  <span class="reservation-name">{{reservation.destination}}</span><br>
                  <span class="reservation-date small text-muted">{{reservation.creationDate | date}}</span>
                </div>
              </div>
              <div class="col-md-3 d-none d-md-block">
                <bar-rating [(rate)]="reservation.ranking" [max]="5" [readOnly]=true></bar-rating>
              </div>
              <div class="col-1 col-md-3 d-flex flex-column flex-sm-row align-items-center justify-content-start">
                <span class="add-favorite mr-0 mr-sm-2 d-none d-md-block" [class.text-muted]="reservation.favorite"
                    (click)="SetFavorite(reservation)">{{'addFavorites' | translate}}</span>
                <i class="fa fa-heart fa-2x" [class.text-danger]="reservation.isFavorite"></i>
              </div>
              <button class="col-3 col-md-1 btn btn-secondary text-uppercase"
                      (click)="SelectReservation(reservation, reservationEditModal)">{{'edit' | translate}}
              </button>
            </li>
          </div>
        </ul>
      </div>
      <div class="w-100 mb-1"></div>
      <div class="col text-center">
        <ngb-pagination [collectionSize]="serviceParams.total" [(page)]="serviceParams.page"
                        [maxSize]="10" [boundaryLinks]="true"
                        (pageChange)="PageChage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #reservationEditModal let-c="close" let-d="dismiss">
  <form role="form" #reservationForm="ngForm" (ngSubmit)="SubmitReservationForm(c)">
    <div class="modal-header">
      <h4 class="modal-title">{{'editReservation' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 input-has-icon-start">
          <i class="fa fa-globe fa-2x"></i>
          <input type="text" class="custom mb-2 mr-sm-2 mb-sm-0 input-border" placeholder="{{'reservationName' | translate}}"
                 name="reservationName" required
                 [(ngModel)]="selectedReservation.destination">
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="d-flex align-items-center">
              <span class="add-favorite mr-2" [class.text-muted]="selectedReservation.isFavorite"
                    (click)="selectedReservation.isFavorite = !selectedReservation.isFavorite">{{'addFavorites' | translate}}</span>
            <i class="fa fa-heart-o fa-2x" [class.text-danger]="selectedReservation.isFavorite"></i>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <bar-rating [(rate)]="selectedReservation.ranking" [max]="5"></bar-rating>
        </div>
        <div class="col-xs-12 col-sm-2 text-center">
          <i [class.invisible]="!callingService"
             class="center-fix main-spinner fa fa-spin fa-spinner fa-2x mt-2 mt-sm-0"></i>
        </div>
        <div class="w-100 mb-3"></div>
        <div class="col">
          <div [froalaEditor] [(froalaModel)]="selectedReservation.description">{{selectedReservation.description}}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">{{'close' | translate}}</button>
      <button class="btn btn-danger text-uppercase pl-3 pr-3" type="submit"
              [disabled]="!reservationForm.valid">{{'save' | translate}}
      </button>
    </div>
  </form>
</ng-template>
